# backend/.env.example

# Security
JWT_SECRET=your_jwt_secret_here
SALT=10

# Database
your_mongodb_connection_string

# Third Party
STRIPE_SECRET_KEY=sk_test_your_stripe_key_here

# Cross-Origin
FRONTEND_URL=http://localhost:5173