PORT=4000
FOOD_SERVICE_URL=http://localhost:4001
USER_SERVICE_URL=http://localhost:4003
CART_SERVICE_URL=http://localhost:4005
ORDER_SERVICE_URL=http://localhost:4006
LEGACY_MONOLITH_URL=http://localhost:4002
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174
